.cabeçalho_menu-hamburguer{
    background-color: var(#FFFFFF);
    width: 24px;
    height: 24px;
    background-image: url(../imagem/Menu.svg.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
} 

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.div-1{
    display: flex;
    align-items: center;
}
h1{
    display: none;
}
.lista-menu-título{
color: var(--amarelo);
font-weight: 700;
}

.lista-menu-título,.lista-menu-item{
padding: 1em;
background-color: var(--branco);
}

.lista-menu-link{
background: var(--roxo);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-transform: uppercase;
}

.div-menu{
display: none;

}

@media screen and (min-width:1024px) {
    h1{
        display: block;
        font-size: 30px;
    }
}
    .lista-menu{
        display: none;
    }
   .div-menu:checked~.lista-menu {
    display: block;
    position: absolute;
    top: 100%;
   }
}