.cabeçalho_menu-hamburguer{
    background-color: var(#FFFFFF);
    width: 24px;
    height: 24px;
    background-image: url(../imagem/Menu.svg.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
} 
.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}
.div-1{
    display: flex;
    align-items: center;
}
h1{
    display: none;
}
@media screen and (min-width:1024px) {
    h1{
        display: block;
        font-size: 30px;
    }
}
.lista menu{
    display: nome;
}
.dive_menu:checked-listamenu{
    display: block;
}
