@import url(../styles/header.css); 
:root{
    --cor-de-fundo: #ebecee;
    --branco:#FFFFFF;
    --fonte-principal: "Poppins"
 }

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1{
    background-color: white;
}
@import url(../styles/header.css);